body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
}


.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/backward.png)
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/forward.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main{
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.section {
    padding: 100px 0;
}

.aboutImage {
    max-width: 100%;
    height: 370px;
}

.lowerBackground {
    background-image: linear-gradient(to bottom right, #7f8c8d, #474787);
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}

/* Padding to fix image wrap problem */
.main {
    padding: 0 40px;
}

.navbar {
    border-radius: 0;
    z-index: 10;

}


.nav-placeholder {
    height:50px;
}

#navbar {
    z-index: 10;
    margin-bottom: 0px;
}




/* Make the nav bar sticky */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    
}

#about .container .row .col-md-6 {
    text-align: justify;
    color: #ecf0f1;
}

#about .container .row .col-md-6  h4{
    text-align: center;
}

#about .container .row .col-md-6  hr{
    text-align: center;
    margin-top:0px;
}

#test a {
    opacity: 0;

    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#test a.load {
    opacity: 1;
}

#sectionOverlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: -1;
}

/* Code for flipping an image */
.flip-card {
    background-color: transparent;
    width: 370px; /* Change to be whatever */
    height:250px; /* */
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Incase image isn't there */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img{
    height: 200px;
    width: 370px;
}

.flip-card-back {
    background-color: #2c3e50;
    color: white;
    transform: rotateY(180deg);
}

#portfolio .container .row {
    padding-bottom: 20px;
}

#portfolio .container .row .col-md-4 .flip-card .flip-card-inner .flip-card-front .projectFooter{
    
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #2c3e50;
}

#portfolio .container .row .col-md-4 .flip-card .flip-card-inner .flip-card-front .projectFooter p{
    color: white;
    display: inline-block;
    margin: 15px 0;
}

#portfolio .container .row {
    height: 300px;
}